.item-enter,item-appear {
    opacity: 0;
} 
.item-enter-active ,item-appear-active{
    opacity: 0.5;
    transition: 1s opacity ease-in;
} 
.item-enter-done {
    opacity: 1;
}
.fade-exit{
    opacity: 1;
} 
.item-exit-active {
    opacity: 0.5;
    transition: 1s opacity ease-in;
}
.fade-exit-done {
    opacity: 0;
}